body {
	background: #272727;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #ffe400;
	font-size: 35px;
}

marquee{
	color: whitesmoke;
}

.table_heading,.table_data{
	color: #14a76c;
	text-align: center;
	align-content: center;
}
table{
	border-spacing: 20px;
	border: 3px whitesmoke;
	border-color: whitesmoke;
}
