#body1 {
	background: black;
	lighting-color: blue;
	color: whitesmoke;
}

#header-nav {
	text-align: center;
	font-family: oxygen;
	font-size: 50px;
	background-color: grey;
	height: 200px;

	margin: 20px;
}

.header {
	height: 20px;
}


.link:hover {
color: #9A8B4F;
text-decoration: underline;
text-decoration: blink;
}

.contact {
	color: hotpink;
	text-decoration: none;
}
